:root {
    --primery-text-color: #434455;
    --secondary-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --primery-bgc: #F4F4FD;
    /* ===========/text=========== */

    /* ===========primery font=========== */
    --primery-font-family: 'Roboto', sans-serif;
    --primery-font-weight: 400;
    --primery-font-size: 16px;
    --primery-line-height: 1.5;
    --primery-letter-spacing: 0.02em;

    /* ===========secondary font======= */
    --secondary-font-family: 'Raleway', sans-serif;
    --secondary-font-weight: 500;
    --secondary-font-size: 20px;
    --secondary-line-height: 1.2;
}

/* ===========/font=========== */
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ===========header=========== */
.primery-logo {
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}

.secondary-logo-white-theme {
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.menu-item-descriprion {
    font-family: var(--primery-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-text-color);
}

.contacts-item-mail,
.contacts-item-phone {
    font-family: var(--primery-font-family);
    font-style: normal;
    text-decoration: none;
    font-weight: var(--primery-font-weight);
    font-size: var(--primery-font-size);
    line-height: var(--primery-line-height);
    letter-spacing: var(--primery-letter-spacing);
    color: var(--primery-text-color);
}

/* ===========/header=========== */

/* ===========hero=========== */
.section-hero {
    background-color: var(--secondary-text-color);
}

.hero-title {
    font-family: var(--primery-font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: var(--primery-letter-spacing);
    color: #ffffff;
}

.modal-btn {
    font-family: var(--primery-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
}

/* ===========/hero=========== */

/* ===========components=========== */

.primery-box-name {
    font-family: var(--primery-font-family);
    font-weight: var(--secondary-font-weight);
    font-size: var(--secondary-font-size);
    line-height: var(--secondary-line-height);
    letter-spacing: var(--primery-letter-spacing);
    color: var(--secondary-text-color);
}

.descriprion-text {
    font-family: var(--primery-font-family);
    font-weight: var(--primery-font-weight);
    font-size: var(--primery-font-size);
    line-height: var(--primery-line-height);
    letter-spacing: var(--primery-letter-spacing);
    color: var(--primery-text-color);
}

.section-title {
    font-family: var(--primery-font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: var(--primery-letter-spacing);
    text-transform: capitalize;
    color: var(--secondary-text-color);
}

/* ===========/components=========== */
/* ===========footer=========== */


.footer-logo {
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}

.secondary-logo-footer {
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primery-bgc);
}

.footer-text {
    font-family: var(--primery-font-family);
    font-weight: var(--primery-font-weight);
    font-size: var(--primery-font-size);
    line-height: var(--primery-line-height);
    letter-spacing: var(--primery-letter-spacing);
    color: var(--primery-bgc);
}


/* ===========/footer=========== */

/* ===========portfolio=========== */
.filtring-list-item {
    font-family: var(--primery-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    background-color: var(--primery-bgc);
    cursor: pointer;
}

.filtring-list-item:hover,
.filtring-list-item:focus {
    color: #ffffff;
    background-color: #404BBF;
}

/* ===========portfolio=========== */